body{
	display: grid;
	place-content: center;
	
	min-height: 100vh;
	margin: 0;
	font-size: 5px;
	font-family: Sans-Serif;
	
	background: #0e0e0e;
}

main{
	display: grid;
	place-content: center;
	height: 100vh;
}

svg{
	width: 80vw;
	height: 80vh;
}